<body style="margin: 0 !important; padding: 0 !important; width: 100% !important; height: 100% !important; background-color: #fafafa;">
  <div>
    <table border="0" cellspacing="0" cellpadding="0" width="100%;" style="box-sizing: border-box; border-collapse: collapse !important; background-color: #fafafa;">
      <tbody>
        <tr>
          <td bgcolor="#ffffff" align="center" style="padding: 20px 15px 70px 15px; background-color: #ffffff;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" style="max-width: 500px;">
              <tbody>
                <tr>
                  <td style="padding: 0 0 0 0; font-size: 18px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding">
                    
                    {{&messageBody}}

                  </td>
                </tr>
                <tr>
                  <td style="padding: 20px 0 0 0;">
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>

                          {{&buttons}}
                          
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 30px 0 0 0; font-size: 18px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;">{{signature}}</td>
                </tr>
                <tr>
                  <td style="padding: 5px 0 0; font-size: 18px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;">Kai</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#f5f5f5" align="center" style="padding: 20px 15px 30px 15px; background-color: #f5f5f5; border-top: 1px solid #e5e5e5;" >
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" style="max-width: 500px;">
              <tbody>
                <tr>
                  <td align="center" style="padding: 5px 0 0;" >
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td>
                            <a target="_blank" href="https://trykai.com" style="color: #4b83fb !important; text-decoration: none !important; outline: none;">
                              <img src="{{&kaiLogoUrl}}" alt="" width="80" height="80" border="0" style="border:0; outline:none; text-decoration:none; display:block;">
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #999; text-align: center; font-weight: 300;">
                    {{tagLine}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>